#intro {
    height: calc(100vh - 6rem);
    width: 100vw;
    max-width: 100rem;
    margin: 0 auto;
    overflow: hidden;   
    position: relative; 
    display: flex;
    flex-direction: column;
}

.bg{
    position: absolute;
    top: 0rem;
    right: 0vw;
    margin-top: 2.5vw; 
    margin-right: 2.5vw;    
    z-index: -1;
    object-fit: cover;
    height: 40vh;
    transition: transform 0.3s ease-in-out;    
}

.handIcon {
    height:2.5rem;
    margin-left: 0.5rem;
    
}

#intro .bg {
   
    animation: moveUpDown 1s infinite alternate;
}

.introText{
    font-size: 7rem;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #bdb74e;
    margin-bottom: 4rem;;

}

.introContent {
    /* height: 100vh; */
    width: 80vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 

}

.iconDiv{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content:end;
    margin-top: 12vh;
}

.socialMediaContactIcons{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    position: relative;
    right:2vw;
  

}

ul li {
    animation: slide calc(4*3*2s) steps(4) infinite;
    display: inline-block;

}

ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow: hidden;
    height: 2.3rem;

}

.Iam{
    display: flex;
    flex-direction: row;
    font-family: "Fredoka", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    color: #bfbdbd;    
}

.listIAm {
    /* font-size:2.5rem;
    font-weight: 100;
    font-family:"Caveat", cursive; */
    font-family: "Fredoka", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    color:cyan;
    border-right: 0.2rem solid #fff;
    white-space: nowrap;
    animation: cursor .8s step-end infinite,
                typing 3s steps(22) infinite alternate;
    display: inline-block ;
    overflow: hidden;
    width: 0%;
}

.hello{
    font-size: 2.5rem;
    font-weight: 100;
    font-family:"Caveat", cursive;
    margin-bottom: 4vh;
    margin-top: 3vh;
}

.introName{
    font-size: 7rem;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #bfbdbd;    

}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;

}

.hireMeBtn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    

}

.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    margin-right:0.5rem;
    height: 1rem;

}

.eatSleepCodeRepeat {
    display: flex;
    align-items: baseline;
    width: 100vw;
    max-width: 100rem;
    justify-content: space-around;
    margin-top: 0vh;
    padding: 0 8vw;

}

.faUtensils{
    color: red;
}

.eat , .sleep , .code , .repeat {
    object-fit: cover;
    margin: 2vh;
    height: 6vh;
    color:#807a7a;
}

.githubIcon , .linkedinIcon , .instaIcon , .fbIcon {
    object-fit: cover;
    height: 5vh;
    color:#615c5c


}

.iconWithText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d4c7c7;
    font-family:  "Fredoka", sans-serif;
    font-size: 1.5rem;
}
.eat:hover{
    color: cyan;
}

.eatBraces{
    color: cyan;
}

.sleepBraces{
    color:#bdb74e;
}

.codeBraces{
    color:#a3d077;
}

.repeatBraces{
    color:#DA0063;
}

.sleep:hover{
    color: #bdb74e;
}


.code:hover{
    color: #a3d077;
}

.repeat:hover{
    color: #DA0063;
}

@keyframes cursor {

    50% {
        border-color: transparent;
    }
    
}

@keyframes typing {
    0%,10% {
        width: 0%;
    }

    70%, 100% {
        width: 102%;
    }
    
}

@keyframes slide {
    100% {
        transform: translateY(-400%);
    }
    
}

@keyframes moveUpDown  {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
 
}

@media screen and (max-width:375px) {
    .bg {
        height: 30vh;
    
    }

    .hello{
        font-size: 1.5rem;
    }

    .handIcon{
        height:1.6rem;
    }

    .introText, .introName{
        font-size: 3.5rem;
    }

    .Iam{
        font-size: 1rem;
    }

    .listIAm{
        font-size: 1.1rem;
    }

    ul{
        height: 1.73rem;

    }

    .iconDiv{

        margin-top: 18vh;
        align-items: center;
    }

    .socialMediaContactIcons{
       display: none;
    }

    .eat , .sleep , .code , .repeat {
        height: 4vh;   
    }


    .iconWithText{
        font-size: 0.60rem;
    }


    
}

@media screen and (max-width:430px) and (min-width: 376px) {
    .bg {
        height: 30vh;
        right:35vw;
    }
      .hello{
        font-size: 1.5rem;
    }

    .handIcon{
        height:1.6rem;
    }

    .introText, .introName{
        font-size: 3.5rem;
    }

    .Iam{
        font-size: 1rem;
    }

    .listIAm{
        font-size: 1.1rem;
    }

    ul{
        height: 1.73rem;

    }
    .introContent{
        margin-top: 25vh;
    }

    .iconDiv{
        margin-top: 4vh;

        align-items: start;
    }

    .socialMediaContactIcons{
        display: none;
    
    }
    .eat , .sleep , .code , .repeat {
        height: 4vh;   
    }

    .githubIcon , .linkedinIcon , .instaIcon , .fbIcon {
        height: 3.5vh;

    }
    

    .iconWithText{
        font-size: 0.7rem;
    }



  
    
}



@media screen and (max-width:768px) and (min-width: 431px){
    .bg {
        height: 30vh;
    }
      
    .iconDiv{
        margin-top: 17vh;

        align-items: start;
    }

    .socialMediaContactIcons{
        display: none;
    
    }
    .eat , .sleep , .code , .repeat {
        height: 6vh;   
    }

    .githubIcon , .linkedinIcon , .instaIcon , .fbIcon {
        height: 4vh;

    }
    

    .iconWithText{
        font-size: 1rem;
    }


    
}

@media screen and (max-width:1024px) and (min-width: 769px) {
    .bg {
        height: 40vh;
    }
      
    .iconDiv{
        margin-top: 25vh;

        align-items: start;
    }

    .eat , .sleep , .code , .repeat {
        height: 6vh;   
    }

    .githubIcon , .linkedinIcon , .instaIcon , .fbIcon {
        height: 4vh;

    }
    

    .iconWithText{
        font-size: 1rem;
    }

    .socialMediaContactIcons{
        height: 17vh;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        right:5vw;
      
    
    }


}